# init

allow init radio_device:lnk_file relabelto;
allow init self:capability sys_module;
allow init port:tcp_socket name_connect;
allow init self:tcp_socket { write getopt create read connect };
allow init block_device:lnk_file setattr;
allow init kernel:system module_request;
allow init system_data_file:file append;
allow init system_data_file:fifo_file write;
#allow init system_file:file { execmod execute_no_trans };
allow init tmpfs:lnk_file create;
allow init node:udp_socket node_bind;
allow init port:udp_socket name_bind;
allow init self:udp_socket { write getopt connect };
allow init radio_device:blk_file rw_file_perms;

allow init {
    cache_file
    storage_file
}:dir mounton;

allow init tmpfs:lnk_file create_file_perms;
