/dev/null 		0666 	root 	 	root
/dev/zero 		0666 	root     	root
/dev/full 		0666 	root 	 	root
/dev/ptmx 		0666 	root 		root
/dev/tty 		0666 	root 	 	root
/dev/random 		0666 	root 	 	root
/dev/urandom 		0666 	root 	 	root
/dev/ashmem 		0666 	root 	 	root
/dev/binder 		0666 	root 	 	root

# logger should be world writable (for logging) but not readable
/dev/log/* 		0662 	root 	 	log

# the msm hw3d client device node is world writable/readable.
/dev/msm_hw3dc 		0666 	root 	 	root

# gpu driver for adreno200 is globally accessible
/dev/kgsl 		0666 	root     	root

# these should not be world writable
/dev/diag 		0660 	radio 	 	radio
/dev/diag_arm9 		0660 	radio 	 	radio
/dev/android_adb 	0660 	adb 	 	adb
/dev/android_adb_enable 0660 	adb 	 	adb
/dev/ttyMSM0 		0600 	bluetooth	bluetooth
/dev/uinput 		0660 	system 		bluetooth
/dev/alarm 		0664 	system 		radio
/dev/tty0 		0660 	root 		system
/dev/graphics/* 	0660 	root 		graphics
/dev/msm_hw3dm 		0660 	system 		graphics
/dev/input/* 		0660 	root 		input
/dev/eac 		0660 	root 		audio
/dev/cam 		0660 	root 		camera
/dev/pmem 		0660 	system 		graphics
/dev/pmem_adsp* 	0660 	system 		audio
/dev/pmem_camera* 	0660 	system 		camera
/dev/oncrpc/* 		0660 	root 		system
/dev/adsp/* 		0660 	system 		audio
/dev/snd/* 		0660 	system 		audio
/dev/mt9t013 		0660 	system 		system
/dev/msm_camera/* 	0660 	system 		system
/dev/akm8976_daemon 	0640 	compass 	system
/dev/akm8976_aot 	0640 	compass 	system
/dev/akm8973_daemon 	0640 	compass 	system
/dev/akm8973_aot 	0640 	compass 	system
/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root

# these should not be world writable
/dev/diag                 0660   radio      radio
/dev/diag_arm9            0660   radio      radio
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/ttyMSM0              0600   bluetooth  bluetooth
/dev/uinput               0660   system     bluetooth
/dev/alarm                0664   system     radio
/dev/secclk               0600   system     system
/dev/tty0                 0660   root       system
/dev/graphics/*           0660   system     graphics    # ART porting : root --> system
/dev/msm_hw3dm            0660   system     graphics
#LGE_CHANGE_S : ART, ETA2 : root -> system
/dev/input/*              0660   system     input
#LGE_CHANGE_E : ART, ETA2
/dev/eac                  0660   root       audio
/dev/cam                  0660   root       camera
/dev/pmem                 0660   system     graphics
/dev/pmem_adsp*           0660   system     audio
/dev/pmem_camera*         0660   system     camera
/dev/oncrpc/*             0660   root       system
/dev/adsp/*               0660   system     audio
/dev/snd/*                0660   system     audio
/dev/mt9t013              0660   system     system
/dev/msm_camera/*         0660   system     system
/dev/akm8976_daemon       0640   compass    system
/dev/akm8976_aot          0640   compass    system
/dev/akm8973_daemon       0640   compass    system
/dev/akm8973_aot          0640   compass    system
/dev/bma150               0640   compass    system
/dev/cm3602               0640   compass    system
/dev/akm8976_pffd         0640   compass    system
/dev/lightsensor          0640   system     system
/dev/msm_pcm_out*         0660   system     audio
/dev/msm_pcm_in*          0660   system     audio
/dev/msm_pcm_ctl*         0660   system     audio
/dev/msm_snd*             0660   system     audio
/dev/msm_mp3*             0660   system     audio
/dev/audience_a1026*      0660   system     audio
/dev/tpa2018d1*           0660   system     audio
/dev/msm_audpre           0660   system     audio
/dev/msm_audio_ctl        0660   system     audio
/dev/htc-acoustic         0660   system     audio
/dev/vdec                 0660   system     audio
/dev/q6venc               0660   system     audio
/dev/snd/dsp              0660   system     audio
/dev/snd/dsp1             0660   system     audio
/dev/snd/mixer            0660   system     audio
/dev/smd0                 0640   radio      radio
/dev/qmi                  0640   radio      radio
/dev/qmi0                 0640   radio      radio
/dev/qmi1                 0640   radio      radio
/dev/qmi2                 0640   radio      radio
/dev/bus/usb/*            0660   root       usb
/dev/mtp_usb              0660   root       mtp
/dev/usb_accessory        0660   root       usb
/dev/tun                  0660   system     vpn

# CDMA radio interface MUX
/dev/ts0710mux*           0640   radio      radio
/dev/ppp                  0660   radio      vpn

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/sys/devices/virtual/usb_composite/*   enable      0664  root   system

## Permissions taken from original init.rc
/dev/syslink-proc4430 	  0660   media 	 media
/dev/syslink-procmgr 	  0660   media 	 media
/dev/notifyducatidrv 	  0660   media 	 media
/dev/ipcnotify 		  0660   media 	 media
/dev/syslink_ipc 	  0660   media 	 media
/dev/syslink_platform 	  0660   media 	 media
/dev/omap-rproc0 	  0440   media 	 media
/dev/omap-rproc1 	  0440   media 	 media
/dev/omap-rproc2 	  0440   media 	 media
/dev/iovmm-omap0 	  0440   media 	 media
/dev/iovmm-omap1 	  0440   media 	 media
/dev/omap-devh0 	  0440   media 	 media
/dev/omap-devh1 	  0440   media 	 media
/dev/omap-devh2 	  0440   media 	 media
/dev/ttyO1 		  0660   bluetooth bluetooth
/dev/ttyO2 		  0660   system  system
/dev/ttyGS0		  0660   radio	 radio
/dev/ttyspi0 		  0660   radio 	 radio
/dev/ttyspi1 		  0660   radio 	 radio
/dev/pts* 		  0660   radio 	 radio
/dev/ttyS0 		  0660   radio 	 radio
/dev/uinput               0666   bluetooth bluetooth
/dev/input                0666   bluetooth bluetooth

# TI changes for FM application => GB porting by kihyung2.lee@lge.com
/dev/hci_tty              0666   bluetooth bluetooth
/dev/uhid		  0666   bluetooth bluetooth
/dev/rfcomm0              0600   system    system

# LGE_SPECIFIC => GB porting by kihyung2.lee@lge.com
/dev/apds_9900            0666   system     system

/dev/pvrsrvkm             0666   root       root
/dev/video0               0770   media     camera
/dev/video1               0660   media     camera
/dev/video2               0660   media     camera
/dev/video3               0660   media     camera
/dev/video4               0660   media     camera
/dev/video5               0660   media     camera
/dev/s3c-jpg              0660   system    camera
/dev/s3c-mem              0660   system    system
/dev/s3c-mfc              0660   system    graphics

/dev/modem_ctl            0660   radio      radio
/dev/modem_fmt            0660   radio      radio
/dev/modem_rfs            0660   radio      radio
/dev/s3c2410_serial3      0660   radio      radio
/dev/block/mtdblock5      0660   radio      radio
/dev/mtd/mtd5ro           0660   radio      radio

# for Sensor HAL
/dev/akm8973              0660   system     system
/dev/accelerometer        0660   system     system
/dev/mpu                  0660   system     system
/dev/mpuirq               0660   system     system
/dev/accelirq             0660   system     system
/dev/compassirq           0660   system     system
/dev/timerirq             0660   system     system

# for GPS
/dev/s3c2410_serial1      0600   gps        gps

# for HWC
/dev/dsscomp              0660   system     system
/dev/tiler                0666   root       root
/dev/tiler                0777   system    system
/dev/dmm                  0777   media     graphics
/dev/omaplfb              0660   media     graphics
/dev/ion                  0777   media     graphics

#for GCX
/dev/gcioctl              0666   system     system

#for NV
/dev/block/mmcblk0p2	  0660   system     media_rw
/dev/block/mmcblk0p3      0660   system     media_rw

#for DivX
/dev/block/mmcblk0p12      0660  media     lgdrm_acc

#for factory reset
#/dev/block/mmcblk0p14     0660   system     media_rw

#LGE_CHANGE_S : ART, ETA2 : root -> system
/dev/graphics/*           0660   system     graphics
/dev/input/*              0660   system     input
/dev/ttyGS1           	  0660   system     system

#for SYSLINK
/dev/rpmsg-omx0           0660   drmrpc    drmrpc
/dev/rpmsg-omx1           0660   drmrpc    drmrpc
/dev/rproc_user           0660   drmrpc    drmrpc
/dev/tf_driver            0660   drmrpc    drmrpc
/dev/tf_ctrl              0660   drmrpc    drmrpc

# Immersion (Vibrator)
/dev/tspdrv               0666   root       root

# RIL Platform (for IPC Interface)
/dev/xmd-tty*            0660   radio      radio

# LGE_BROADCAST_TDMB 
/dev/broadcast0           0660  media        media
/dev/graphics/fb0         0666  root         graphics

# set permission nv and misc for CTS Pass
/dev/block/mmcblk0p6 0660 system media_rw
/dev/block/mmcblk0p7 0660 system media_rw

# FM-RADIO
/dev/radio0 		0660   bluetooth bluetooth

# WIFI
/dev/rfkill             0660   wifi      wifi
